<%- include('partials/_header'); -%>

    <h1 style="text-align: center;">Base de datos de Pokemon</h1>
    <h2 style="text-align: center;">¡Tu base de datos favorita!<br> ¡Entra y disfruta! </h2>


<%- include('partials/_footer'); -%>
