<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Proyecto Base de Datos</title>
	<!-- BOOTSTRAP 4 CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
</head>
<style>
	body {
	  background-image: url('https://66.media.tumblr.com/e08919d88c0a5d5a055c527d4fc0dfa0/tumblr_n0pk1t88Ql1rikiwao1_500.gif');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	}
	</style>
<body>
	<nav class="navbar navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="/">Index</a>
		<a class="navbar-brand" href="crud">CRUD</a>
		<a class="navbar-brand" href="graficaN">Grafica</a>
	  </nav>